/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background-image: url(trees.jpg);
	background-size: fixed;
}

body {
	font-family: Verdana;
	color: #20211b;
	width: 70%;
	margin: 0 auto;
	background-color: #fffffa;
	padding: 20px 40px;
	border: 1px solid #20211b;
}

header {
	color: #d9cab0;
	background-color: #20211b;
	padding: 5px 15px;
	border: 1px solid #bf3310;
}

header h1 {
	font-size: 40px;
}

nav ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

nav li {
	display: inline;
}

table {
	width: 100%;
	border: 2px solid #592918;
}

thead th {
	border-bottom: 2px solid #592918;
	text-align: left;
}

th,
td {
	padding: 2px 2px;
}

tbody tr {
	background-color: #cccccc;
}

tbody tr:nth-child(even) {
	background-color: #dddddd;
}

a:link {color: #3E7E8C;}
a:visited {color: #bf3310;}
a:hover {color: #bf3310;}
a:focus {color:#3E7E8C;}
a:active {color:#3E7E8C;}

table a:link {
	text-decoration: none;
	color: #3E7E8C;}
table a:visited {
	text-decoration: none;
	color: #bf3310;}
table a:hover {
	text-decoration: italic;
	color: #ffffff;}
table a:focus {
	text-decoration: none;
	color:#3E7E8C;}
table a:active {
	text-decoration: none;
	color:#3E7E8C;}

/*taupe: #d9cab0
red: #bf3310
rust: #592918
blue: #3E7E8C
gray: #20211b;
;